{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>EZResume | Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'users/images/icons/favicon.ico' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'users/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'users/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'users/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'users/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'users/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'users/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'users/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'users/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'users/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'users/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>

{% if messages %}
    <div class="messages">
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }} message-text"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

    <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
                <div class="social-buttons">
                    <p class="login-with">
                        Login with
                    </p>
                    <p>
                        <a href="{% provider_login_url 'google' %}" class="google-button">
                            <i class="fa fa-google fa-fw"></i> Google</a>
                        <a href="{% provider_login_url 'linkedin' %}" class="linkedin-button">
                            <i class="fa fa-linkedin fa-fw"></i> LinkedIn</a>
                        <a href="{% provider_login_url 'facebook' %}" class="facebook-button">
                            <i class="fa fa-facebook fa-fw"></i> Facebook</a>
                    </p>
                </div>
				<form class="login100-form validate-form flex-sb flex-w" method="POST"
                      action="{% url 'login' %}">{% csrf_token %}
                    <span>
                        <h1>EZResume</h1>
					</span>
					<span class="login100-form-title p-b-32">
                        Account Login
					</span>

					<span class="txt1 p-b-11">
						Username
					</span>
					<div class="wrap-input100 validate-input m-b-36" data-validate = "Username is required">
						<input class="input100" type="text" name="{{ form.username.html_name }}">
						<span class="focus-input100"></span>
					</div>

					<span class="txt1 p-b-11">
						Password
					</span>
					<div class="wrap-input100 validate-input m-b-12" data-validate = "Password is required">
						<span class="btn-show-pass">
							<i class="fa fa-eye"></i>
						</span>
						<input class="input100" type="password" name="{{ form.password.html_name }}" >
						<span class="focus-input100"></span>
					</div>

                    <div class="flex-sb-m w-full p-b-48">
                        <!-- Remember me functionality is not used yet
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								Remember me
							</label>
						</div>
                        -->
						<div>
							<a href="{% url 'password_reset' %}" class="txt3">Forgot your password?</a>
						</div>
					</div>

<!----------------- Errors are displayed here --------------->
                    <div class="error-box">
                    {% if form.non_field_errors %}
                        <ul class='error-text'>
                            {% for error in form.non_field_errors %}
                                <li class="non-field-error">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    </div>
<!----------------- End of errors display --------------->

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="submit">Login</button>
					</div>

				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="{% static 'users/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'users/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'users/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'users/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'users/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'users/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'users/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'users/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'users/js/main.js' %}"></script>

</body>
</html>
