{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
    <script type="text/javascript" src="https://app.sandbox.midtrans.com/snap/snap.js"
            data-client-key="SB-Mid-client-d-MR0cZ5q86XY98I"></script>
</head>
<body>
<form method="post" action="{% url 'resumes:payment' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" name="7-day">7 day</button>
    <button type="submit" name="1-month">30 day</button>
</form>
</body>
</html>