<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTTP Status Error 404</title>
    <style>
        body { color: white; background-color: black; font-family: Monteserrat, Sans-Serif, "Times New Roman" }
        .status-error { padding-top: 150px; text-align: center; }
        p { font-size: 26px; }
        .status-error img { width: 200px; height: auto; }
    </style>
</head>
<body>
<div class="container">
    <div class="status-error">
        <img src="{% static 'images/logo-transparent.png' %}">
        <p>The page you requested could not be found!</p>
        <p>HTTP Status Error 404</p>
    </div>
</div>
</body>
</html>