{% load static %}
<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <!--- basic page needs
   ================================================== -->
    <meta charset="utf-8">
    <title>EZResume | Indonesia</title>
    <meta name="description" content="Buat Resume/CV Anda dengan EZResume dalam 5 menit secara online!">
    <meta name="keywords" content="">
    <meta name="author" content="Chris Gunawan">
    <meta charset="utf-8">
    <meta property="og:title" content="EZResume">
    <meta property="og:description" content="Buat Resume/CV Anda dengan EZResume dalam 5 menit secara online!">
    <meta property="og:image" content="https://ezresume.sgp1.digitaloceanspaces.com/static/images/hero-bg.jpg">
    <meta property="og:url" content="http://ezresume.id">


    <!-- mobile specific metas
   ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- CSS
   ================================================== -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">


    <!-- script
   ================================================== -->
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/pace.min.js' %}"></script>


    <!-- favicon
	================================================== -->
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>

<body id="top">

    <!-- header
   ================================================== -->
   <header id="header" class="row">

   		<div class="header-logo">
	        <a href="{% url 'home' %}">EZResume</a>
	    </div>

	   	<nav id="header-nav-wrap">
			<ul class="header-main-nav">
				<li class="current"><a class="smoothscroll"  href="#home" title="home">Home</a></li>
                <li><a class="smoothscroll"  href="#about" title="about">Tentang Kami</a></li>
				<li><a class="smoothscroll"  href="#pricing" title="pricing">Harga</a></li>
				<li><a class="smoothscroll"  href="#testimonials" title="testimonials">Testimoni</a></li>
				<li><a class="smoothscroll"  href="#companies" title="companies">Perusahaan</a></li>
			</ul>

            {% if user.is_authenticated %}
                <a href="{% url 'resumes:my-resumes' %}" title="my-resumes" class="button button-secondary cta">
                    Resume Builder</a>
            {% else %}
                <a href="{% url 'login' %}" title="login" class="button button-secondary cta">Masuk</a>
                <a href="{% url 'register' %}" title="sign-up" class="button button-primary cta">Daftar Akun</a>
            {% endif %}

		</nav>

		<a class="header-menu-toggle" href="#"><span>Menu</span></a>

   </header> <!-- /header -->


   <!-- home
   ================================================== -->
   <section id="home" data-parallax="scroll" data-image-src="{% static 'images/hero-bg.jpg' %}" data-natural-width=3000 data-natural-height=2000>

        <div class="overlay"></div>
        <div class="home-content">

            <div class="row contents">
                <div class="home-content-left">

                    <h3>Buat Resume/CV Anda Dengan EZResume</h3>

                    <h1>
                        Membuat Resume<br>
                        yang Menarik Kini<br>
                        Lebih Mudah!
                    </h1>

                    <div class="buttons">
                        <a href="{% url 'resumes:my-resumes' %}" class="button stroke">
                            Buat Resume Sekarang
                        </a>
                        <!-- We don't have any videos yet
                        <a href="http://player.vimeo.com/video/14592941?title=0&amp;byline=0&amp;portrait=0&amp;color=39b54a" data-lity class="button stroke">
                            <span class="icon-play" aria-hidden="true"></span>
                            Watch Video
                        </a>
                        -->
                    </div>

                </div>

                <div class="home-image-right">
                    <img src="{% static 'images/resume-846.png' %}">
                </div>
            </div>

        </div>
       <!--
        <ul class="home-social-list">
            <li>
                <a href="#"><i class="fa fa-facebook-square"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-instagram"></i></a>
            </li>
        </ul>

        <div class="home-scrolldown">
            <a href="#about" class="scroll-icon smoothscroll">
                <span>Scroll Down</span>
                <i class="icon-arrow-right" aria-hidden="true"></i>
            </a>
        </div>
       -->
    </section>


    <!-- about
    ================================================== -->
    <section id="about">

        <div class="row about-intro">

            <div class="col-four">
                <h1 class="intro-header">Tentang EZResume</h1>
            </div>
            <div class="col-eight">
                <p class="lead">
                    Kami berada untuk membantu Anda mendapatkan job impian dengan menggunakan desain resume kami yang tak
                    lelang oleh waktu. Kami memudahkan Anda membuat resume yang indah, kreatif, namun tetap profesional.
                    Apapun bidang pekerjaan Anda, kami memiliki desain resume terbaik untuk Anda. Resume kami membuat Anda
                    semakin percaya diri dalam melamar pekerjaan.
                </p>
            </div>

        </div>

        <div class="row about-features">

            <div class="features-list block-1-3 block-m-1-2 block-mob-full group">

                <div class="bgrid feature">

                    <span class="icon"><i class="icon-paper-plane"></i></span>

                    <div class="service-content">

                        <h3>Cepat dan Mudah</h3>

                        <p>
                            Tidak perlu lagi kesulitan membuat Resume di Microsoft Word. Dengan menggunakan resume builder kami,
                            Anda hanya butuh waktu beberapaa menit untuk menciptakan resume yang atraktif.
                        </p>

                    </div>

                    </div> <!-- /bgrid -->

                    <div class="bgrid feature">

                        <span class="icon"><i class="icon-megaphone"></i></span>

                    <div class="service-content">
                        <h3>Menonjol</h3>

                        <p>
                            Konten adalah raja, tapi desain adalah ratunya. Penelitian menyatakan bahwa perusahaan hanya
                            menghabiskan waktu 6 detik saja untuk melihat resume pelamar kerja. Itulah kenapa resume
                            Anda harus terlihat menonjol dibandingkan pelamar lainnya.
                        </p>


                    </div>

                </div> <!-- /bgrid -->

                <div class="bgrid feature">

                    <span class="icon"><i class="icon-file"></i></span>

                    <div class="service-content">
                        <h3>Terorganisir</h3>

                        <p>
                            Sedang mencari pekerjaan? Simpan semua resume Anda di satu tempat. Anda bisa menyunting,
                            mengekspor resume, atau mengirim resume Anda di mana dan kapan saja.
                        </p>

                    </div>

                </div> <!-- /bgrid -->

            </div> <!-- end features-list -->

        </div> <!-- end about-features -->

        <div class="row about-how">

            <h1 class="intro-header">Bagaimana Cara Kerja EZResume?</h1>

            <div class="about-how-content">
                <div class="about-how-steps block-1-2 block-tab-full group">

                    <div class="bgrid step" data-item="1">
                        <h3>Daftar</h3>
                        <p>
                            Lowongan kerja yang bagus membutuhkan resume yang luar biasa. Daftarkan diri Anda di EZResume.
                            Ini menjadi langkah pertama untuk mendapatkan pekerjaan impian Anda. Cara daftarnya sangat mudah!
                        </p>
                    </div>

                    <div class="bgrid step" data-item="2">
                        <h3>Lengkapi</h3>
                        <p>
                            Lengkapi setiap detail data yang diminta menggunakan form sederhana dari kami. Selanjutnya,
                            serahkan pada kami! Cari tahu tips dan info dalam membuat resume yang terbaik.
                        </p>
                    </div>

                    <div class="bgrid step" data-item="3">
                        <h3>Pilih</h3>
                        <p>
                            Pilih desain resume yang sesuai dengan lamaran pekerjaan Anda. Semua resume di EZResume dibuat secara profesional dengan
                            tujuan agar Anda terlihat luar biasa.
                        </p>
                    </div>

                    <div class="bgrid step" data-item="4">
                        <h3>Export</h3>
                        <p>
                            Apapun desain resume yang Anda pilih, baik itu profesional, kreatif, atau modern, Anda bisa
                            mendapatkan hasil resume Anda dengan mudah. Anda hanya perlu klik export dan kami akan
                            langsung mengirimkannya ke email Anda.
                        </p>
                    </div>

                </div>
           </div> <!-- end about-how-content -->

        </div> <!-- end about-how -->


        <div class="row about-bottom-image">

           <img src="{% static 'images/app-screens-2800.png' %}" alt="App Screenshots">

        </div>  <!-- end about-bottom-image -->

    </section> <!-- end about -->


    <!-- pricing
    ================================================== -->
    <section id="pricing">
        <div class="row pricing-content">

            <div class="col-four pricing-intro">
                <h1 class="intro-header">Harga</h1>

                <p>
                    Anda tidak perlu berlangganan dalam waktu yang lama. Pilih paket langganan yang sesuai dengan keperluan Anda.
                </p>
                <p>&nbsp</p> <!-- Ugly, figure this out later -->
                <p>
                    Kami menerima semua metode pembayaran dan kami memproses pembayaran dengan Midtrans SSL Secure / 256-bit SSL secure yang terjamin aman.
                </p>
                <p><img src="{% static 'images/go-pay-logo.png' %}" class="payment-logo"></p>
            </div>

            <div class="col-eight pricing-table">
                <div class="row">
                    <div class="col-six plan-wrap">
                        <div class="plan-block">

                            <div class="plan-top-part">
                                <img src="{% static 'images/espresso-short.png' %}" id="short-photo" alt="espresso">
                                <h3 class="plan-block-title">Paket 7 Hari</h3>
                                <p class="plan-block-price"><sup>IDR</sup>24,000</p>
                                <!--
                                <p class="plan-block-per">Per Month</p>
                            	-->
                            </div>

                            <div class="plan-bottom-part">
                                <ul class="plan-block-features">
                                    <li><span>PDF Export</span> Tidak Terbatas</li>
                                    <li><span>Dapat Mengakses</span> Semua Template</li>
                                    <li><span>Pembayaran</span> Satu Kali</li>
                                </ul>

                                <a class="button button-primary large" href="{% url 'register' %}">Mulai Sekarang</a>
                            </div>

                        </div>
                    </div> <!-- end plan-wrap -->

                    <div class="col-six plan-wrap">
                        <div class="plan-block primary">

                            <div class="plan-top-part">
                                <img src="{% static 'images/coffee-long.png' %}" id="long-photo" alt="long-black">
                                <h3 class="plan-block-title">Paket 1 Bulan</h3>
                                <p class="plan-block-price"><sup>IDR</sup>72,000</p>
                                <!--
                                <p class="plan-block-per">Per Month</p>
                            	-->
                            </div>

                            <div class="plan-bottom-part">
                                <ul class="plan-block-features">
                                    <li><span>PDF Export</span> Tidak Terbatas</li>
                                    <li><span>Dapat Mengakses</span> Semua Template</li>
                                    <li><span>Pembayaran</span> Satu Kali</li>
                                </ul>

                                <a class="button button-primary large" href="{% url 'register' %}">Mulai Sekarang</a>
                            </div>

                        </div>
                    </div> <!-- end plan-wrap -->

                </div>
            </div> <!-- end pricing-table -->

        </div> <!-- end pricing-content -->
    </section> <!-- end pricing -->


    <!-- Testimonials Section
    ================================================== -->
    <section id="testimonials">

        <div class="row">
            <div class="col-twelve">
                <h1 class="intro-header">Testimoni tentang EZResume</h1>
            </div>
        </div>

        <div class="row owl-wrap">

            <div id="testimonial-slider">

                <div class="slides owl-carousel">
                    <div>
                        <p>
                            We love receiving well formatted resumes!
                            They are easier to read and they allow you to focus on the content.
                        </p>

                        <div class="testimonial-author">
                                <img src="{% static 'images/avatars/user-02.jpg' %}" alt="Author image">
                                <div class="author-info">
                                    Chris Gunawan
                                    <span class="position">CEO, Nibble</span>
                                </div>
                        </div>
                    </div>

                    <div>
                        <p>
                            I love the clean designs of ezresume. They match all the job openings I was looking for. A real time saver too!
                        </p>

                        <div class="testimonial-author">
                                <img src="{% static 'images/avatars/user-03.jpg' %}" alt="Author image">
                                <div class="author-info">
                                    Stefan Rafales
                                    <span>CPO, RestoDepot</span>
                                </div>
                        </div>
                    </div>

                </div> <!-- end slides -->

            </div> <!-- end testimonial-slider -->

        </div> <!-- end flex-container -->

    </section> <!-- end testimonials -->


    <!-- download
    ================================================== -->
    <section id="companies">

        <div class="row">
            <div class="col-full">
                <h1 class="intro-header">Perusahaan yang telah memperkerjakan pelamar yang menggunakan EZResume</h1>
                <ul class="download-badges">
                    <li><img src="{% static 'images/company-logos-gray.png' %}" class="banner"></li>
                </ul>

            </div>
        </div>

    </section> <!-- end download -->


    <!-- footer
    ================================================== -->
    <footer>

        <div class="footer-main">
            <div class="row">

                <div class="col-three md-1-3 tab-full footer-info">

                    <div class="footer-logo"></div>

                    <p>
                        EZResume diciptakan di Jakarta, Indonesia.
                        Kita berada untuk membantu semua orang mendapatkan pekerjaan impiannya.
                    </p>
                    <!--
                    <ul class="footer-social-list">
                        <li>
                            <a href="#"><i class="fa fa-facebook-square"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-behance"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </li>
                    </ul>
                    -->

                </div> <!-- end footer-info -->

                <div class="col-three md-1-3 tab-1-2 mob-full footer-contact">

                    <h4>Kontak</h4>

                    <p>
                    Rukan CBD Blok G No. 17A<br>
                    Green Lake City <br>
                    Tangerang, Banten 15146<br>
                    </p>

                    <p>
                    chrisgunawan@gmail.com <br>
                    </p>

                </div> <!-- end footer-contact -->

                <div class="col-two md-1-3 tab-1-2 mob-full footer-site-links">

                    <h4>Navigasi</h4>

                    <ul class="list-links">
                        <li><a href="#">Home</a></li>
                        <li><a href="#about">Tentang Kami</a></li>
                        <!--
                        <li><a href="#">Terms and Conditions</a></li>
                        -->
                        <li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
                    </ul>
                </div> <!-- end footer-site-links -->
                <!--
                <div class="col-four md-1-2 tab-full footer-subscribe">

                    <h4>Our Newsletter</h4>

                    <p>We don't send out newsletters very often. But if you want to keep up to date with all our newest offerings, leave us your email below</p>

                    <div class="subscribe-form">

                        <form id="mc-form" class="group" novalidate="true">

                            <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address" required="">

                            <input type="submit" name="subscribe" value="Send">

                            <label for="mc-email" class="subscribe-message"></label>

                        </form>

                    </div>
                </div> -->
            </div> <!-- /row -->
        </div> <!-- end footer-main -->

      <div class="footer-bottom">

      	<div class="row">

      		<div class="col-twelve">
	      		<div class="copyright">
		         	<span>© Copyright EZResume 2018.</span>
		         </div>

		         <div id="go-top">
		            <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up"></i></a>
		         </div>
	      	</div>

      	</div> <!-- end footer-bottom -->

      </div>

    </footer>
    <!--
    <div id="preloader">
    	<div id="loader"></div>
    </div>
    -->
    <!-- Java Script
    ================================================== -->
    <script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>
