<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Privacy Policy</title>
    <style>
        body {font-family: Monteserrat, Sans-Serif, "Times New Roman"; padding-right: 25px; padding-left: 25px;}
    </style>
</head>
<body>
<h1>EZResume.id Privacy Policy</h1>
<p>Last updated: December 15, 2018</p>
<h2>1. Introduction</h2>
<p>
    The ezresume.id website, provided by Chris Gunawan ("we," "our," "us" or "ezresume.id"), is an online career-management platform (the "Website"),
    that allows individuals seeking employment who download, access and/or interact with the Website ("Users") to create,
    edit, download, post and share their resumes with prospective employers (collectively, the "Service").
    This Privacy Policy describes the information collected from Users, how that information is used, and to who and
    under what circumstances that information is made available. By using the Service, Users consent to the collection
    and use of their information in accordance with this Privacy Policy. We will not use or share your personal
    information with anyone except as described in this Privacy Policy. Users who do not consent to the collection
    and use of information from or about them in accordance with this Privacy Policy may not use the Service.
</p>
<h2>2. Information we collect</h2>
<p>
    We collect information that Users provide. In order to create an account and access the Service, Users may be asked to
    provide their personal information, including name, email address, physical address, phone number, and employment
    history. We may collect credit card information from Users who make purchases through the Service. We may also
    collect information Users provide when responding to surveys, contacting us through customer service or other means,
    or participating in promotions that we may offer from time to time. In addition, we may collect information about
    Users from other sources, such as data aggregators, public databases, and our business partners. This may include
    information about Users' interests, demographic data, purchasing behavior, and online activities.
</p>
<h2>3. How we use your information</h2>
<p>
    In addition to some of the specific uses of information we describe in this Privacy Policy, we may use information
    that we collect for the following purposes: (a) to deliver and improve the Service, (b) to manage User accounts
    and provide Users with customer support, (c) to perform research and analysis about Users' use of the Service,
    (d) to develop, display, and track content tailored to Users' interests on the Service and other sites, (e) for
    website or mobile application analytics, (f) to diagnose or fix technology problems, (g) to automatically update
    the Service on Users' devices, (h) to verify Users' identity and prevent fraud or other unauthorized or illegal
    activity, (i) to enforce or exercise any rights in our Terms of Service, and (j) to perform other functions or
    services as otherwise described to Users at the time of collection. ezresume.io has the right to collect, extract,
    compile, synthesize, and analyze information that Users provide and may use such aggregated information for any
    lawful business purpose. We have no obligation to provide you with an accounting of any of your information that is
    so aggregated, provided that such information is anonymized so that it cannot be identifiable as relating to you.
    We will retain your information for as long as your account is active or is needed to provide you the Service.
    We will retain and use your information as necessary to comply with our legal obligations, to resolve disputes,
    and to enforce our agreements.
</p>
<h2>4. How we share your information</h2>
<p>
    We will share your personal information with third parties only in the ways that are described in this Privacy Policy.
    We consider this information to be a vital part of our relationship with you. There are, however, certain circumstances
    in which we may share this information with certain third parties without further notice to you, as set forth below.
    Your name and other information which you may add to your profile will be available for public viewing on the Service.
    We may share your personal information with MixPanel, an analytics site, and other third parties as needed, in our
    sole discretion, to provide the Service to you. If we do this, any such third parties that receive your information
    will be bound by this Privacy Policy. We may store personal information in locations outside of our direct control
    (for example, on servers or databases co-located with hosting providers). We may share or disclose your information
    with your consent, such as if you choose to sign on to the Service through a third-party website or service provider.
    We cannot control such third parties' use of your information. We may disclose your personal information if required to
    do so by law or subpoena or if we believe that it is reasonably necessary to comply with a law, regulation or legal
    request, to protect the safety of any person, to address fraud, security or technical issues, or to protect all of our
    rights or property. In addition, we may share non-personally identifiable information (such as anonymous usage data,
    referring/exit pages and URLs, platform types, number of clicks, etc.) with interested third parties to help them
    understand the usage patterns for certain of our services.
</p>
<h2>5. Third-party access, devices and links</h2>
<p>
    This Privacy Policy applies only to the Service. The Service may contain links to other websites not operated or
    controlled by us. We are not responsible for the content, accuracy or opinions expressed in such websites, and such
    websites are not investigated, monitored or checked for accuracy or completeness by us. Please remember that when you
    use a link to go from the Service to another website, our Privacy Policy is no longer in effect. Your browsing and
    interaction on any other website, including those that have a link on our site, is subject to that website's own rules
    and policies. Such third parties may use their own cookies or other methods to collect information about you.
</p>
<h2>6. Your choices about your information</h2>
<p>
    You may, of course, decline to submit personal information through the Website, in which case we may not be able to
    provide the Service to you. In addition, you may update or correct your account information and email preferences at
    any time by logging in to your account. If you would like to access your personal information or if you would like us
    to remove it from our database, please send us an email to chrisgunawan@gmail.com. We are not responsible for removing
    your personal information from the lists of any third party who has previously been provided your information in
    accordance with this Privacy Policy.
</p>
<h2>7. Changes to our privacy policy</h2>
<p>
    From time to time, we may revise this Privacy Policy to reflect changes in the law, the Service, or for any other
    reason. Therefore, it is important for Users to check the effective date of this Privacy Policy posted below to
    ensure they are familiar with our most updated policies and practices. If we make any material change to this
    Privacy Policy, we will notify Users by posting a notice on the Website, and for Users that have created a ezresume.id
    account, we will also send an email to the email address such Users have most recently provided prior to the change
    taking effect. Accordingly, Users are advised to please keep their account information, including email address, updated. Users'
    use of the Service following any such modifications will signify their assent to and acceptance of the revised Privacy Policy.
</p>
<h2>8. Changes in corporate structure</h2>
<p>
    In the event that we are involved in a bankruptcy, merger, acquisition, reorganization or sale of assets,
    User information may be sold or transferred as part of that transaction. The promises in this Privacy Policy
    will apply to any User information that is transferred to the new entity.
</p>
<h2>9. Security</h2>
<p>
    ezresume.id uses reasonable physical, technical, and administrative measures to safeguard both personal and
    non-personal information in our possession against loss, theft, misuse and unauthorized access, alteration,
    disclosure or destruction. We also take steps to ensure that only those agents and contractors who have a
    legitimate business reason to obtain access to sensitive information from or about Users are granted access.
    Despite these efforts, please note that there is always a possibility that a breach in data transmission or
    storage may occur. We will protect Users' information to the best of our ability, but we cannot guarantee the
    security of any information from or about Users.
</p>
<h2>10. Applicable law</h2>
<p>
    ezresume.id is headquartered in Indonesia. Although we welcome Users from all over the world, Users that are viewing
    any content or otherwise using the Service consent to and authorize the transfer of their information to Indonesia,
    and the collection, storage, and use of such information under Indonesian laws.We will take all steps reasonably
    necessary to ensure that your data is treated securely and in accordance with this Privacy Policy.
</p>
<h2>11. How to contact us</h2>
<p>
    If you have any questions about this Disclaimer, or have any feedback, comments or requests for technical support,
    please contact us by email to chrisgunawan@gmail.com.
</p>
</body>
</html>