{% extends 'resumes/layout.html' %}
{% load static %}
{% block style %}
    <style>

    input[type=radio] {
        display: none;
    }

    input#id_resume_template_0[type=radio]+label {
        background-image: url("{% static 'resumes/images/jakarta-resume-small.jpg' %}");
        border: lightslategray solid 1px;
        height: 253px;
        width: 223px;
        display: inline-block;
        margin: 1.5em;
    }

    input#id_resume_template_1[type=radio]+label {
        background-image: url("{% static 'resumes/images/new-york-resume-small.jpg' %}");
        border: lightslategray solid 1px;
        height: 253px;
        width: 223px;
        display: inline-block;
        margin: 1.5em;
    }

    input#id_resume_template_2[type=radio]+label {
        background-image: url("{% static 'resumes/images/tokyo-resume-small.jpg' %}");
        border: lightslategray solid 1px;
        height: 253px;
        width: 223px;
        display: inline-block;
        margin: 1.5em;
    }

    input#id_resume_template_3[type=radio]+label {
        background-image: url("{% static 'resumes/images/rome-resume-small.jpg' %}");
        border: lightslategray solid 1px;
        height: 253px;
        width: 223px;
        display: inline-block;
        margin: 1.5em;
    }

    input#id_resume_template_4[type=radio]+label {
        background-image: url("{% static 'resumes/images/sf-resume-small.jpg' %}");
        border: lightslategray solid 1px;
        height: 253px;
        width: 223px;
        display: inline-block;
        margin: 1.5em;
    }

    input#id_resume_template_0[type=radio]:checked+label {
        border: deeppink solid 4px;
        height: 253px;
        width: 223px;
        display: inline-block;
        margin: 1.5em;
    }

    input#id_resume_template_1[type=radio]:checked+label {
        border: deeppink solid 4px;
        height: 253px;
        width: 223px;
        display: inline-block;
        margin: 1.5em;
    }

    input#id_resume_template_2[type=radio]:checked+label {
        border: deeppink solid 4px;
        height: 253px;
        width: 223px;
        display: inline-block;
        margin: 1.5em;
    }

    input#id_resume_template_3[type=radio]:checked+label {
        border: deeppink solid 4px;
        height: 253px;
        width: 223px;
        display: inline-block;
        margin: 1.5em;
    }

    input#id_resume_template_4[type=radio]:checked+label {
        border: deeppink solid 4px;
        height: 253px;
        width: 223px;
        display: inline-block;
        margin: 1.5em;
    }

    </style>

{% endblock %}
{% block title %}<title>EZResume | Templates</title>{% endblock %}
{% block subheader %}
    <div class="sub-header">
        <h1>Choose Your Resume Template</h1>
    </div>
{% endblock %}
{% block content %}
    <div class="form-labels-on-top-small templates-page">
        <form method="post" action="{% url 'resumes:view-resume' pk=resume.id %}">
            {% csrf_token %}
            <input type="radio" name='resume_template' id="id_resume_template_0" value="jakarta" /><label for="id_resume_template_0"></label>
            <input type="radio" name='resume_template' id="id_resume_template_1" value="new_york" /><label for="id_resume_template_1"></label>
            <input type="radio" name='resume_template' id="id_resume_template_2" value="tokyo"/><label for="id_resume_template_2"></label>
            <input type="radio" name='resume_template' id="id_resume_template_3" value="rome" /><label for="id_resume_template_3"></label>
            <input type="radio" name='resume_template' id="id_resume_template_4" value="sf" /><label for="id_resume_template_4"></label>
            <div>
                {{ form.errors.resume_template }}
                <button type="submit" class="button">View my resume</button>
            </div>
        </form>
    </div>
{% endblock %}