{% extends 'resumes/layout.html' %}
{% load static %}
{% block title %}<title>EZResume | FAQ</title>{% endblock %}
{% block subheader %}
    <div class="sub-header">
        <h1>Frequently Asked Questions About EZResume</h1>
    </div>
{% endblock %}
{% block content %}
    <div class="form-labels-on-top question-page">
        <div class="question-box">
            <div class="question">Q: What is EZResume?</div>
            <div class="answer">
                EZResume is a software as a service for creating beautiful resumes. We are based in Jakarta,
                Indonesia and we are obsessed about getting you that dream job.
            </div>
        </div>
        <div class="question-box">
            <div class="question">Q: How does EZResume work?</div>
            <div class="answer">
                It's effortless. Simply create a resume, fill out our forms and we'll take care of the rest. We've created
                resume templates that fit any industry. Try it out!
            </div>
        </div>
        <div class="question-box">
            <div class="question">Q: What makes EZResume special?</div>
            <div class="answer">
                EZResume works with recruiters, job seekers and designers to craft the perfect
                resume template. We make sure you’re including all the right information in all the right places -
                helping you get more interviews.
            </div>
        </div>
        <div class="question-box">
            <div class="question">Q: Why is having a well designed resume so important?</div>
            <div class="answer">
                Studies show that recruiters spend less than six seconds scanning through an
                individual’s resume. Content is king, but design is the QUEEN. A well designed resume makes you stand
                out and increases your chances in securing an interview.
            </div>
        </div>
        <div class="question-box">
            <div class="question">Q: Why do I have to pay to use EZResume?</div>
            <div class="answer">
                Creating and maintaining EZResume doesn’t come without costs. We have developers,
                designers and server costs to pay. Here are 10 things that are MORE expensive than a 7 day subscription
                to EZResume:
                <ol class="list-answer">
                    <li>A cup of coffee</li>
                    <li>A tube of toothpaste</li>
                    <li>A foot massage</li>
                    <li>Bottled water in a restaurant</li>
                    <li>A pack of cigarettes</li>
                    <li>A McDonald’s breakfast meal</li>
                    <li>The toll fee to the Soekarno Hatta Airport (one way)</li>
                    <li>A pack of balloons</li>
                    <li>A NOMAT movie ticket</li>
                    <li>A haircut</li>
                </ol>
            </div>
        </div>
        <div class="question-box">
            <div class="question">Q: How can I pay for EZResume?</div>
            <div class="answer">
                We accept all forms of payment. However, we prefer GO-PAY. Note that you will be
                redirected to MidTrans (our payment gateway partner) to make payment.
            </div>
        </div>
        <div class="question-box">
            <div class="question">Q: What is the difference between a resume and a CV?</div>
            <div class="answer">
                    The three major differences between CVs and resumes are the length, the purpose
                    and the layout. A resume is a brief summary of your skills and experience over one or two pages, a CV
                    is more detailed and can stretch well beyond two pages. The resume will be tailored to each position
                    whereas the CV will stay put and any changes will be in the cover letter.
                <p>
                    A CV has a clear chronological order listing the whole career of the individual whereas a resume’s
                    information can be shuffled around to best suit the applicant. The main difference between a resume
                    and a CV is that a CV is intended to be a full record of your career history and a resume is a
                    brief, targeted list of skills and achievements.
                </p>
                <p>
                    CVs are appropriate when applying for jobs in academia, medicine or research positions. If you are
                    applying for jobs outside these fields, you are most likely better off creating a resume.
                </p>
            </div>
        </div>
    </div>
{% endblock %}