{% extends 'resumes/layout.html' %}
{% load static %}
{% block title %}<title>EZResume | FAQ</title>{% endblock %}
{% block subheader %}
    <div class="sub-header">
        <h1>Frequently Asked Questions About EZResume</h1>
    </div>
{% endblock %}
{% block content %}
    <div class="form-labels-on-top question-page">
        <div class="question-box">
            <div class="question">Q: What is your name?</div>
            <div class="answer">A: Chris</div>
        </div>
        <div class="question-box">
            <div class="question">Q: What is your name?</div>
            <div class="answer">A: Chris</div>
        </div>
        <div class="question-box">
            <div class="question">Q: What is your name?</div>
            <div class="answer">A: Chris</div>
        </div>
    </div>
{% endblock %}