{% extends 'resumes/layout.html' %}
{% load static %}
{% block title %}<title>EZResume | Profile</title>{% endblock %}
{% block subheader %}
    <div class="sub-header">
        <ul>
            <li><a href="#"  class="active">1. Profile</a></li>
            <li><a href="#">2. Work Experience</a></li>
            <li><a href="#">3. Training</a></li>
            <li><a href="#">4. Education</a></li>
            <li><a href="#">5. Skills</a></li>
            <li><a href="#">6. Languages</a></li>
            <li><a href="#">7. Export</a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}
<form class="form-labels-on-top" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-title-row">
        <h1>Profile</h1>
    </div>
    <div class="image-cropper">
        <img src="{{ user.profile.profile_pic.url }}">
    </div>
    <div class="form-row">
        {{ u_form.as_p }}
        {{ p_form.as_p }}
    </div>
    <div class="form-row">
        <button type="submit">Next</button>
    </div>
</form>
{% endblock %}