{% extends 'resumes/layout.html' %}
{% load static %}
{% block title %}<title>EZResume | Templates</title>{% endblock %}
{% block subheader %}
    <div class="sub-header">
        <h1>Job-winning Resume Templates</h1>
    </div>
{% endblock %}
{% block content %}
    <div class="form-labels-on-top templates-page">
        <div class="resume-list">
            <img src="{% static 'resumes/images/jakarta-resume.jpg' %}">
            <img src="{% static 'resumes/images/new-york-resume.jpg' %}">
            <img src="{% static 'resumes/images/tokyo-resume.jpg' %}">
            <img src="{% static 'resumes/images/rome-resume.jpg' %}">
            <img src="{% static 'resumes/images/sf-resume.jpg' %}">
        </div>
    </div>
{% endblock %}