{% extends 'resumes/layout.html' %}
{% load static %}
{% block title %}<title>EZResume | Templates</title>{% endblock %}
{% block subheader %}
    <div class="sub-header">
        <h1>Job-winning Resume Templates</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
            of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
            like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
{% endblock %}
{% block content %}
    <div class="form-labels-on-top templates-page">
        <div class="resume-list">
            <img src="{% static 'resumes/images/jakarta-resume.jpg' %}">
            <img src="{% static 'resumes/images/new-york-resume.jpg' %}">
            <img src="{% static 'resumes/images/tokyo-resume.jpg' %}">
            <img src="{% static 'resumes/images/rome-resume.jpg' %}">
            <img src="{% static 'resumes/images/sf-resume.jpg' %}">
            <img src="{% static 'resumes/images/resume-placeholder.jpg' %}">
            <img src="{% static 'resumes/images/resume-placeholder.jpg' %}">
            <img src="{% static 'resumes/images/resume-placeholder.jpg' %}">
        </div>
    </div>
{% endblock %}