{% extends 'resumes/layout.html' %}
{% load static %}
{% block title %}<title>EZResume | Templates</title>{% endblock %}
{% block subheader %}
    <div class="sub-header">
        <h1>Job-winning Resume Templates</h1>
        <p>
            The type of resume you use to apply for a job is very important. You wouldn't use a banker's resume to apply for a
            graphic design job right? Here are samples of the resumes that you can create using EZResume. Each template is
            expertly designed and follows the exact “resume rules” hiring managers look for. Our research revealed that these
            templates were the most appealing. We named the resume templates after cities from which they were inspired from.</p>
    </div>
{% endblock %}
{% block content %}
    <div class="form-labels-on-top templates-page">
        <div class="resume-list">
            <div class="single-resume">
                <img src="{% static 'resumes/images/jakarta-resume.jpg' %}">
                <div class="resume-info">
                    <p class="resume-name">Jakarta</p>
                    <p>
                        This is a great all around resume that can be used for many different
                        jobs and industries.
                    </p>
                    <p>
                        This is our most popular resume!
                    </p>
                </div>
            </div>
            <div class="single-resume">
                <img src="{% static 'resumes/images/new-york-resume.jpg' %}">
                <div class="resume-info">
                    <p class="resume-name">New York</p>
                    <p>
                        This resume is perfect for jobs in banking, accounting, law and medicine.
                    </p>
                    <p>
                        A no nonsense, professional, strictly business feel!
                    </p>
                </div>
            </div>
            <div class="single-resume">
                <img src="{% static 'resumes/images/tokyo-resume.jpg' %}">
                <div class="resume-info">
                    <p class="resume-name">Tokyo</p>
                    <p>
                        This resume is for the minimalists and those who hate clutter.
                    </p>
                    <p>
                        Keep it simple and clean!
                    </p>
                </div>
            </div>
            <div class="single-resume">
                <img src="{% static 'resumes/images/rome-resume.jpg' %}">
                <div class="resume-info">
                    <p class="resume-name">Rome</p>
                    <p>
                        This resume is for candidates who want to show off their creative side.
                    </p>
                    <p>
                        Fun and full of class!
                    </p>
                </div>
            </div>
            <div class="single-resume">
                <img src="{% static 'resumes/images/sf-resume.jpg' %}">
                <div class="resume-info">
                    <p class="resume-name">San Francisco</p>
                    <p>
                        This resume is for the Silicon Valley startup techies.
                    </p>
                    <p>
                        Calm, modern and crispy!
                    </p>
                </div>
            </div>
            <div class="single-resume">
                <img src="{% static 'resumes/images/sf-resume.jpg' %}">
                <div class="resume-info">
                    <p class="resume-name">San Francisco</p>
                    <p>
                        This resume is for the Silicon Valley startup techies.
                    </p>
                    <p>
                        Calm, modern and crispy!
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}