{% extends 'resumes/layout.html' %}
{% load i18n %}
{% load static %}
{% block title %}<title>EZResume | Work Experience</title>{% endblock %}
{% block subheader %}
    <form action="" method="POST">{% csrf_token %}
        {{ wizard.management_form }}
        <div class="sub-header">
            <ul>
                <li><button name="wizard_goto_step" type="submit" value="resumes">1. Resume Info</button></li>
                <li><button name="wizard_goto_step" type="submit" value="work_experience" class="active">2. Work Experience</button></li>
                <li><button name="wizard_goto_step" type="submit" value="certifications">3. Certifications</button></li>
                <li><button name="wizard_goto_step" type="submit" value="education">4. Education</button></li>
                <li><button name="wizard_goto_step" type="submit" value="skills">5. Skills</button></li>
                <li><button name="wizard_goto_step" type="submit" value="languages">6. Languages</button></li>
            </ul>
        </div>
    </form>
{% endblock %}

{% block content %}
    <form action="" class="form-labels-on-top" method="POST">{% csrf_token %}
    <p class="step-text">Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
        <div class="form-title-row">
            <h1>Work Experience</h1>
            <div class="tooltip">
                <i class="far fa-question-circle"></i>
                <span class="tool-tip-text">
                    This is the most important section of your resume. Use numbers and specifics when stating your
                    achievements. Maximum 5 work experience entries.
                </span>
            </div>
        </div>
        {{ wizard.management_form }}
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                <div class="form-row form-duplicate">
                {{ form.as_p }}
                </div>
        {% endfor %}
        {% else %}
            <div class="form-row">
            {{ wizard.form.as_p }}
            </div>
        {% endif %}
    <div class="form-row">
        {% if wizard.steps.prev %}
            <button name="wizard_goto_step" class="button-previous" type="submit" value="{{ wizard.steps.prev }}">{% trans "Previous" %}</button>
        {% endif %}
        <button type="submit" class="button-next">Next</button>
    </div>
    </form>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        $(function() {
            $('.form-duplicate').formset({
              prefix: 'work_experience',
              added: function() {
                tinymceInit();
              }
            })
        })
    </script>
{% endblock %}